<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>我是一个什么样的人？有时候我也会这样问我自己。</p>
        <p>就如我的博客名称一样，有着倔强的性格，还有像黄牛一样的勤奋。</p>
		<p>我的努力，很简单只是为了能给自己和别人带去美好！</p>
        <p>曾经的我，怯懦很少去干过一些别人可能都干过的事，这些事可能很简单！</p>
		<p>当你想去改变时，可能发现什么都不是那么简单！</p>
		<p>但是，你必须去做，去不断地改变！</p>
		<p>如果，有人问你是为了什么？</p>
		<p>梦想？信仰？？还是未来？？？</p>
		<p>我更喜欢的回答，生活！！！</p>
        <p>为了各自的生活，大家一起努力吧！</p>
		<p>认识！或者不认识！都无所谓！加油！</p>

        <p>
          <strong>个人公号</strong>：<a href="" target="_blank">倔强的小黄牛</a>，“分享技术、感悟人生”欢迎关注
        </p>

        <p><strong>About name</strong></p>

        <p>村上春树说：你要记得那些大雨中为你撑伞的人，帮你挡住外来之物的人， 黑暗中默默抱紧你的人，逗你笑的人，陪你彻夜聊天的人，坐车来看望你的人，陪你哭过的人 在医院陪你的人，总是以你为重的人，带着你四处游荡的人，说想念你的人。是这些人组成你生命中一点一滴的温暖 是这些温暖使你远离阴霾。</p>

        <p>
          <a href="http://mp.weixin.qq.com/s/Fkcn_cPzleWNAbgC8maEeQ" target="_blank">了解更多</a>
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong></strong>（备注：博客）</li>
		
        </ul>
   
       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你，可以赞赏我6.66元，请我吃个肉夹馍 :)
       </p>

       <p align="center">

       <img src="https://angrycow1111.github.io/assets/images/rewardMe1.jpg" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>